@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
  --main: 'Raleway', sans-serif;
  --blush: #ffaaa5;
  --mint: #a8e6cf;
  --not-black: #212121;
  --dk-grey: #757575;
  --lt-grey: #BDBDBD;
  --rose-gold: #ffd3b6;
  --gold: #ffde7d;
  --turquoise: #00b8a9;
  --red-ish: #ea5455;
}

body {
  background: var(--mint);
  color: var(--not-black);
  font-family: var(--main) !important;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  box-shadow: 0px 5px 22px 0px var(--dk-grey);
}

.container-fluid {
  padding: 0 !important;
}

.for-backgrounds {
  background-color: var(--mint) !important;
}

.nav-link {
  color: var(--not-black);
  font-size: 1.5em;
}

.nav-link:hover {
  color: var(--not-black);
  font-weight: 700;
}

.navbar-text {
  color: var(--not-black) !important;
  font-size: 2em;
}

.large {
  border: 0;
  background-image: linear-gradient(to right, var(--mint), var(--gold), var(--rose-gold), var(--blush), var(--rose-gold), var(--gold), var(--mint));
  height: 3px;
  margin-left: 10em;
  margin-right: 10em;
  z-index: 1000;
}

.page-wrapper {
  background: var(--mint);
  padding: 1em;
}

.page-content {
  animation: fade-in 1s ease;
  background: var(--mint);
}

.each-item:hover {
  animation: bounce 1s;
  box-shadow: 0px 14px 80px #FFFFFF;
  filter: blur(0px);
  opacity: 1;
  transform: scale(1);
}

.page-content-show {
  animation: fade-in 1s ease;
  background: var(--mint);
  margin-top: 3em;
}

.each-item {
  background: var(--gold);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: var(--not-black);
  height: 15em;
  margin: 2em;
  padding: 1em;
  width: 15em;
  z-index: 1000;
}

.each-item-show {
  background: var(--gold);
  box-shadow: 0px 14px 80px #FFFFFF;
  color: var(--not-black);
  height: 23em;
  margin: 2em;
  padding: 1em;
  width: 23em;
  z-index: 1000;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.each-title {
  color: var(--red-ish);
  font-size: 1.5em;
  font-weight: 700;
}

.router-link:hover {
  background-image: linear-gradient(to right, var(--mint), var(--turquoise), var(--red-ish), var(--turquoise), var(--mint));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.each-name {
  color: var(--not-black);
  font-size: 1em;
}

.rounded-pill {
  background: var(--turquoise);
  bottom: 0;
  color: white;
  font-weight: 700;
  width: 8.5em;
  height: 2em;
}

/* refer to line 9 in RESOURCES.md for citation */
.hero {
  background: url(./assets/hero.jpeg) no-repeat center;
  background-size: cover;
  box-shadow: 0 0.6px 2.2px rgba(0, 0, 0, 0.02),
    0 1.5px 5.3px rgba(0, 0, 0, 0.028),
    0 2.9px 10px rgba(0, 0, 0, 0.035),
    0 5.1px 17.9px rgba(0, 0, 0, 0.042),
    0 9.6px 33.4px rgba(0, 0, 0, 0.05),
    0 23px 80px rgba(0, 0, 0, 0.07);
  height: 400px;
}

.hero-text {
  color: white;
  font-size: 5em;
  font-weight: 700;
}

.real {
  padding-top: 3em;
}

.reflection {
  margin-top: -.8em;
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  -webkit-mask-image: -webkit-gradient(linear, right top, right bottom, from(transparent), color-stop(1%, transparent), to(rgba(0, 0, 0, 0.4)));
}

.fa-trash-alt, .fa-pencil-alt {
  bottom: 2.5em;
  cursor: pointer;
  font-size: 1.5em;
  color: black;
}

.fa-trash-alt:hover, .fa-calendar-alt:hover, .fa-facebook-f:hover, .fa-twitter:hover, .fa-envelope:hover, .fa-pencil-alt:hover {
  color: white;
}

.fa-pencil-alt {
  font-size: 1.5em;
}

.fa-trash-alt {
  left: 2em;
}

.fa-calendar-alt {
  bottom: .75em;
  color: black;
  right: .75em;
  font-size: 1.5em;
}

.fa-facebook-f {
  font-size: 1.5em;
  bottom: .75em;
  right: 2em;
  color: black;
}

.fa-twitter {
  font-size: 1.5em;
  bottom: .75em;
  right: 2.8em;
  color: black;
}

.fa-envelope {
  font-size: 1.5em;
  bottom: .75em;
  right: 4.2em;
  color: black;
}

.push {
  position: relative;
  bottom: -5em;
}

.slight-push {
  position: relative;
  bottom: -2em;
}

.new-form, .edit-form {
  z-index: 1000;
  background-color: var(--rose-gold);
  color: var(--not-black);
  font-weight: 700;
  height: 30em;
  width: 30em;
  margin: 3em auto;
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  bottom: -5em;
}

.new-form-button {
  border: 2px solid white;
  font-weight: 700;
  position: relative;
  right: -17em;
  border-radius: 1em;
  text-align: center;
  background: var(--rose-gold);
  transform-style: preserve-3d;
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

.edit-button {
  border: 2px solid white;
  font-weight: 700;
  position: relative;
  right: -22em;
  border-radius: 1em;
  text-align: center;
  background: var(--rose-gold);
  transform-style: preserve-3d;
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

.new-form-button::before, .edit-button::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: -.3em;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--rose-gold);
  border-radius: inherit;
  box-shadow: 0 0 0 2px white, 0 0.25em 0 0 var(--rose-gold);
  transform: translate3d(0, 0.75em, -1em);
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

.new-form-button:hover, .edit-button:hover {
  background: var(--rose-gold);
  transform: translate(0, 0.4em);
}

.new-form-button:hover::before, .edit-button:hover::before {
  transform: translate3d(0, 0.75em, -1em);
}

.new-form-button:active, .edit-button:active {
  transform: translate(0em, 0.75em);
}

.new-form-button:active::before, .edit-button:active::before {
  transform: translate3d(0, 0, -1em);
  box-shadow: 0 0 0 2px white, 0 0.25em 0 0 var(--rose-gold);
}

.full-screen {
  height: 100vh;
  margin-top: -3em;
  background-color: var(--mint);
}

.gather-here {
  z-index: 1000;
  background-color: white;
  color: var(--red-ish);
  font-weight: 700;
  height: 14em;
  text-align: center;
  width: 14em;
  margin: 3em auto;
  border-radius: 4px;
  box-shadow: 0 0 0 2px var(--rose-gold), 0 0.25em 0 0 var(--rose-gold);
}

.fa-globe-americas, .fa-info {
  color: black;
  margin-right: .5em;
}

.fa-map {
  color: var(--red-ish);
}

.in-header {
  font-size: 2em;
}


@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(-40px)
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.edit-form {
  visibility: hidden
}